@charset "UTF-8";

body {
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
}
h1 {
    color: brown;
    background-color: blue;
}
h2 {
    color: darkolivegreen;
    font-size: 1.2em;
}
p {
    text-align: justify;
    font-size: 0.8em;
}