@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: gray;
    background-image: url(../imagens/fundo-madeira.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    height: 100vh;
}

main#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    width: 350px;
    height: 100vh;
}

main#telefone iframe{
    position: absolute;
    top: calc(50% + 3px);
    left: calc(50% + 0px);
    transform: translate(-50%, -50%);
    width: 269px;
    height: 474px;
}

div#menu-social{
    text-align: right;
}

div#menu-social img{
    border-radius: 50%;
    width: 50px;
    display: inline-block;
    margin: 10px;
    box-shadow: 1px 1px 5px black;
}

div#menu-social img:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.692);
    border: 1px solid white;
    transform: translate(-5px, -5px);
    transition-duration: .4s;
}