@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&display=swap');

:root{
    --font01: 'Sriracha', cursive;
    --font02: 'Passion One', cursive;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font01);
    background-color: lightgrey;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    min-height: 10em;
    padding: 3em;
}

header h1{
    font-family: var(--font02);
    font-size: 7vw;
    text-transform: uppercase;   
}

header h1::first-letter{
    font-size: 10vw;
}

header p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    text-decoration: underline;
}

section{
    font-size: 3.5vw;
    background-color: #fff;
    line-height: 2em;
}

.normal{
    padding: 50px 30px;
}

.normal p{
    margin: 35px 0;
}

.fundo-img01 p, .fundo-img02 p {
    background-color: rgba(0, 0, 0, 0.486);
    width: 44vw;
    color: #fff;
    padding: 5px;
    text-shadow: 1px 1px 0 black;
}

.fundo-img01, .fundo-img02{
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 5px 5px 20px rgba(0, 0, 0, 0.637);
    padding: 50px 30px;
}

.fundo-img01{
    background-image: url(imagens/background001.jpg);
}

.fundo-img02{
    background-image: url(imagens/background002.jpg);
}

footer{
    background-color: black;
    color: #fff;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

footer p{
    padding: 2px;
}