@charset "UTF-8";

@font-face {
    font-family: idroid;
    src: url(fontes/idroid.otf) format("opentype");
}

@font-face {
    font-family: Bebas;
    src: url(fontes/BebasNeue-Regular.ttf) format("truetype");
}

:root {
    --font-padrao: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

body {
    background-color: rgb(176, 212, 194);
    font-family: var(--font-padrao);
}

p {
    text-indent: 25px;
    text-align: justify;
}

header {
    background-image: linear-gradient(0deg, rgb(31, 82, 55), rgb(71, 185, 124));
    min-height: 115px;
    padding-top: 15px;   
    font-family: Bebas, Arial, Helvetica, sans-serif;
}

header h1 {
    font-weight: normal;
    text-align: center;
    color: #fff;
    font-size: 1.7em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.534);
}

header p {
    text-align: center;
    color: #fff;
    font-size: 1.1em;
    max-width: 650px;
    margin: auto;
    padding: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.493);
}

nav {
    min-height: 40px;
    background-color: rgb(31, 82, 55);
    box-shadow: 0 0 20px rgb(31, 82, 55);
    padding-top: 5px;
}

nav a {
    margin: 5px 5px 5px calc(5px + 1%);
    text-decoration: none;
    padding: 5px;
    border-radius: 3px;
    color: #cefdd1cc;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.288);
    font-size: 1.1em;
    font-family: Bebas, Arial, Helvetica, sans-serif;
} 

nav a:hover {
    background-color: rgb(71, 185, 124);
    color: black;
    transition-duration: 0.5s;
    box-shadow: 0 0 3px rgb(98, 255, 171);
}

main {
    margin: auto;
    max-width: 820px;
    background-color: #fff;
    padding: 15px;
    border-radius: 0 0 15px 15px;
    box-shadow: 4px 4px 10px rgba(77, 77, 77, 0.212);
}

main h1 {
    font-size: 1.5em;
    margin: 20px 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.616);
}

main h2 {
    background-image: linear-gradient(90deg, rgba(71, 185, 124, 0.514), transparent);
    margin: 15px 0;
    padding: 5px;
    font-size: 1.1em;
}

main p {
    margin: 10px 0;
    font-size: 0.9em;
    line-height: 1.4em;
}

main img{
    width: 100%;
    display: block;
    margin: auto;
}

.img-bdroid {
    max-width: calc(150px + 20%);
    display: block;
    margin: auto;
}

.video {
    background-color: rgb(26, 92, 56);
    position: relative;
    padding-bottom: 59%;
    margin: 0 -15px;
}

.video iframe {
    position: absolute;
    top: 3%;
    left: 3%;
    width: 94%;
    height: 94%;
}

/* .video {
    background-color: rgb(26, 92, 56);
    margin: 0 -15px;
    padding: 10px;
    text-align: center;  
}

.video iframe {
    max-width: 100%;
    max-height: 100%;
} */

.font-i {
    font-family: 'idroid', cursive;
    color: rgb(41, 103, 69);
}

.anchora {
    font-weight: 600;
    text-decoration: none;
    color: seagreen;
}

.anchora::after {
    content: url(imagens/link.svg);
}

.anchora:hover {
    text-decoration: underline;
}

.extra {
    background-color: rgb(197, 235, 214);
    margin: 20px 0;
    padding-bottom: 5px;
    border-radius: 10px;
    box-shadow: 3px 3px 4px rgba(75, 126, 75, 0.363);
}

.extra h3 {
    background-color: rgb(41, 150, 90);
    padding: 10px;
    border-radius: 10px 10px 0 0;
    color: #fff;
}

.extra p {
    padding: 0 10px;
}

.extra ul {
    font-weight: bold;
    padding: 10px;
    text-decoration: underline;
    list-style-image: url(imagens/double-check.svg);
    list-style-position: inside;
    columns: 2;
}

.extra ul li {
    font-size: 0.9em;
}

footer {
    background-color: rgb(26, 92, 56);
    color: #fff;
    padding: 10px;
    margin-top: 15px;
    box-shadow: 0 0 20px rgb(31, 82, 55);
}

footer p {
    text-align: center;
}

